.homePage__slider {
  .swiper-slide-prev {
    left: 20% !important;
  }
  .swiper-slide-next {
    right: 20% !important;
  }

  .swiper-slide-active {
    transform: scale(1.07) !important;
  }

  .swiper-wrapper > div:not(.swiper-slide-active) > div {
    filter: opacity(0.2) blur(2px);
  }

  .swiper-wrapper > .swiper-slide-active > div {
    backdrop-filter: blur(8px);
  }

  .swiper-pagination {
    height: fit-content !important;
    bottom: 0 !important;

    span {
      width: 0.8rem;
      height: 0.8rem !important;
      background-color: var(--color-neutral-700);
    }
  }

  .swiper-pagination-bullet {
    transition: all 0.3s ease;
  }

  .swiper-pagination-bullet-active {
    width: 2.2rem !important;
    border-radius: 9999px !important;
    background-color: var(--color-primary-700) !important;
  }

  /* Navigation */
  .swiper-button-next,
  .swiper-button-prev {
    color: var(--color-white);
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: var(--color-neutral-700);
    transition: all 0.3s ease;

    & svg {
      width: 11px !important;
      height: 11px !important;
      stroke-width: 2px !important;
      stroke: var(--color-white) !important;
    }
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: var(--color-primary);
  }
}
